p {
    font-size: 24px;
    font-family: 'Helvetica Neue', 'Roboto', Verdana, sans-serif;
    font-weight: 300;
}

.footer {
    display: inline-block;
    padding-top: 20px;
}

.map{
    height: 150;
}

.svg-tooltip {
    pointer-events: none;
}

.tooltip-left, .tooltip-right {
    padding: 5px;
    margin: 5px;
}
.tooltip-left p, .tooltip-right p{
	margin-top: 5px;
    font-size: 16px;
}

.tooltip-left {
	text-align: right;
}

.tooltip-right {
    text-align: left;
}
