/* POSITION */
header {}
#ngamap {
	width: 300px; /* was 310 */
	height: 165px;
}

#maplines {
	position: absolute;
	top: 30px; /* was 40 */
	left: 17px;
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

#mapimg1 {
	opacity: 1;
}

#mapimg {
	position: absolute;
	top: 30px;
	/* left: 9px; */
	opacity: 0;
}

polygon {
	opacity: 0;
	stroke-width: 4px;
}

.galsvg {
	width: 295px;
	position: absolute;
	top: 29px;
	left: 10px;
	opacity: 0;
}

#legend {
	/* position: fixed;
	bottom: 0;
	left: 0; */
	width: 250px;
	height: 800px;
	font-size: 12px;
	color: black;
}

#legsvg {
	height: 600px;
}

#svg1 {
	position: absolute;
	top: -40px; /* was 0px */
	/* left: 235; */
}

#infobox {
	padding: 5px;
	position: absolute;
	/* top: 10; */ */
	left: 1070px;
	width: 290px; /* changed from 450px */
	display: block;
}

.gal {
	display: block;
	margin-top: 10px;
	max-width: 100%;
}

#rwgal {
	width: 100%;
	display: inline-block;
	align-items: center;
}

.gallery { /* new style */
	padding-bottom: 8px
}

.relwork {
	padding-right: 5px;
	display: inline-block;
	vertical-align: top;
}

.frames {
  	position: relative;
  	top: 0;
  	left: 50%;
  	transform: translate(-50%, 0%);
  	height: 120px;
  	width: 120px;
  	padding: 2px; /* change */
}

.notes {
  	position: relative;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 0%);
	width: 120px;
	display: block;
	background-color: white;
	border-style: solid;
	border-width:1px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}

/* IMAGES */
#infoimg img {
	border-style: solid;
	border-width: 4px;
	max-width: 290px; /* changed from 450% */
	max-height: 300px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#rwgal img {
  padding: 2px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 0px; /*changed from 4px */
  box-sizing: border-box;
}

/* TEXT */
#maptitle {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: serif;
}

#maptitle2 {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding-bottom: 10px; /* added */
}

.nodes text {
	display:none;
}

.artists text {
	font: 13px 'Helvetica Neue';
	font-weight: 300;
}

.galleries text {
	font: 14px 'serif';
	font-weight: bold;
}

#infotitle {
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
	font-style: italic;
	font-family: serif;
}

#infodate, #infoartist {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 14px;
	font-style: normal;
}

.c_container {
	margin-top: 0px;
	display: inline-block;
	width: 100%;
}

#infogenes {
	display: inline;
	position: absolute;
	right: 2px;
	top: 70px;
	width: 125px;
}

.gal h1 {
	font-size: 16px;
	/* text-decoration: underline; */
	margin: 0;
	padding: 0;
	font-family: serif;
	font-weight: bold;
}
 h2 {
 	margin: 0;
 	font-size: 18px;
	font-family: serif;
	font-weight: bold;
 }

#sorted {
	display: block;
	font-size: 12px;
}
.rwtitle {
	display: block;
	font-size: 13px;
	font-weight: bold;
	font-family: serif;
}

.rwsubt {
	display: block;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 12px;
}

/* STYLE */
.galcircles, .galleries {
	cursor: pointer;
}

.nodes rect {
  stroke-width: 1px;
  cursor: pointer;
}

.legmain {
	font-family: serif;
	font-size: 14px;
	font-weight: bold;
}

.legsub {
	font-size: 13px;
	font-family: 'Helvetica Neue';
	font-weight: 300;
}

.nodes text {
  pointer-events: none;
  font: 9px sans-serif;
  display: none;
  visibility: hidden;
}

.nav-font {
    font-weight: bold;
    font-size: 15px;
}

.nav-brand {
    font-family: 'Special Elite', 'Helvetica Neue', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Roboto', Verdana, sans-serif;
    font-weight: 300;
}

.map-margin-bottom {
	margin-bottom: 280px;
}
