h1 {
    font-size: 30px;
    font-family: 'Helvetica Neue', 'Roboto', Verdana, sans-serif;
    font-weight: 300;
}

.nav-font {
    font-weight: bold;
    font-size: 15px;
}

.nav-brand {
    font-family: 'Special Elite', 'Helvetica Neue', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

a:link {
    text-decoration:  none;
}

.nav-stacked > li + li {
	margin-top: 0px;
	margin-bottom: 0px
}
